<div class="row description">
  <div class="col-sm-2">
    <img src="assets/opacity-zero.jpg" alt="product image" />
  </div>
  <div class="col-sm-6">
    <p class="album-name" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: normal;">Opacity Zero</p>
    <p class="band-name" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: normal;">The Prependers</p>
    <p class="album-release-date" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: normal;">September 25, 2014</p>
  </div>
</div>
